* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;

}
.icone{
    background-color: white;
}
.fundo {
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    height: 100vh;
}

h1{
    text-align: center;
    padding: 1rem;
}
.paragrafo{
    color: white;
}

.fundo-tabela {

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: -3px 10px 10px;
    border: 1px solid rgba(221, 213, 213, 0.5);

    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    align-items: center;

}
.cabecalhoTabela{
    width: 280px;
    text-align: center;
}
.tabela-digitos{
    margin: 15px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255,0.6);
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.3);
}

#inputCampo {
    margin: 5px;
    border-radius: 8px;
    height: 35px;
    width: 230px;
    outline: none;
    text-align: right;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}


.botao {
    background-color: rgb(54, 52, 52);
    width: 50px;
    height: 50px;
    color: white;
    padding: .5rem;
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.botao:hover {
    background-color: rgb(71, 69, 69);
}

.botao:active {
    transform: translateY(2px);
}
.bnt-paragrafo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    margin: 10px;

}
.bntLigaDesliga{
    border-radius: 10px;
    padding: 5px;
    background-color: green;
    color: white;
    font-size:7pt;
    border: none;
    box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.685);
    
}
.bntLigaDesliga:hover {
    background-color: rgb(2, 155, 2);
    cursor: pointer;
}
.bntLigaDesliga:active {
    background-color: rgb(221, 10, 10);
    transform: translateY(2px);
    box-shadow: inset -3px 5px 10px rgba(0, 0, 0, 0.685);
}

#bntGreen {
    background-color: green;
}

#bntGreen:hover {
    background-color: rgb(2, 155, 2);
}

#bntBlue {
    background-color: rgb(0, 162, 255);
}

#bntBlue:hover {
    background-color: rgb(73, 182, 245);
}


#bntDarkBlue {
    background-color: blue;
    height: 100px;
    border-radius: 10px;
}


#bntDarkBlue:hover {
    background-color: rgb(53, 53, 250);
}

#bntZero {
    width: 100px;
    border-radius: 10px;
}